<div class="container-fluid nav-section border-0">
    <nav class="navbar navbar-light">
        <div class="navbar-nav flex-column">
            <a href="#pigraHome" class="nav-item nav-link active"><span class="fa fa-home"></span> Anasayfa</a>
            <a href="#pigraAbout" class="nav-item nav-link"><span class="far fa-address-card"></span> Hakkımda</a>
            <a href="#egitim" class="nav-item nav-link"><span class="fas fa-user-graduate"></span> Eğitim</a>
            <a href="#deneyim" class="nav-item nav-link"><span class="fas fa-globe"></span> Deneyimlerim</a>
            <a href="#staj" class="nav-item nav-link"><span class="fas fa-laptop-house"></span> Stajlarım</a>
            <a href="#yetenekler" class="nav-item nav-link"><span class="fas fa-server"></span> Yeteneklerim</a>
            <a href="#hizmetler" class="nav-item nav-link"><span class="fas fa-download"></span> Hizmetlerim</a>
            <a href="#portfolyo" class="nav-item nav-link"><span class="fas fa-project-diagram"></span> Portfolyo</a>
            <a href="#message" class="nav-item nav-link"><span class="fas fa-comment-dots"></span> Sizden Gelenler</a>
            <a href="#maps" class="nav-item nav-link"><span class="fas fa-map-marker-alt"></span> Bana Yazın</a>
        </div>
    </nav>
</div>