@model List<CvProje1.Models.Education>
@{
    ViewBag.Title = "EducationList";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h2 class="mb-4">Eğitim Hayatı Listem</h2>


<table class="table table-bordered">
    <tr>

        <th>Yıl</th>
        <th>Okul</th>
        <th>Bölüm</th>
        <th>Açıklama</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Title</td>
            <td>@item.SubTitle</td>
            <td>@item.Description</td>
            <td>@item.LongDescription</td>
            <td><a href="/Education/DeleteEducation/@item.EducationId" class="btn btn-danger">Sil</a></td>
            <td><a href="/Education/UpdateEducation/@item.EducationId" class="btn btn-success">Güncelle</a></td>


        </tr>
    }
</table>
<br />
<a href="/Education/CreateEducation" class="btn btn-info">Yeni Eğitim Bilgisi Girişi</a>
