<nav id="sidebar">
    <div class="p-4 pt-5">
        <a href="#" class="img logo rounded-circle mb-5" style="background-image: url(@ViewBag.Image); "></a>
        <ul class="list-unstyled components mb-5">

            <li><a href="/about/aboutlist">Hakkımda</a></li>
            <li><a href="/Education/EducationList">Eğitim Hayatım</a></li>
            <li><a href="/Skill/SkillList/">Yeteneklerim</a></li>
            <li><a href="/Experience/ExperienceList/">Deneyimlerim</a></li>
            <li><a href="/Intern/InternList/">Stajlarım</a></li>
            <li><a href="/Chart/ChartIndex/">Chart</a></li>
            <li><a href="/About/ContactList">İletişim Bilgilerim</a></li>
            <li><a href="/Statistics/Index/">İstatistikler</a></li>
            <li><a href="/Services/ServicesList">Hizmetlerim</a></li>
            <li><a href="/SocialMedia/SocialMediaList">Sosyal Medya</a></li>
            <li><a href="/Message/Inbox/">Gelen Mesajlar</a></li>
            <li><a href="/Testimonial/TestimonialList">Testimonial</a></li>
            <li><a href="javascript:void(0);" onclick="window.close();">Çıkış Yap</a></li>
        </ul>

        <div class="footer">
            <p>
                
            </p>
        </div>

    </div>
</nav>
